{% extends "::base.html.twig" %}

{% block body %}

<p><center><h1>Mon CV</h1></center></p>

<h2>Ajouter des informations à Mon Cv</h2>
<h4>Information générales</h4>
<hr>

<div class="container">
    <form class="form-horizontal" action="{{ path("urbanet_cv_ajouter") }}" method="post">
        
    	{{ form_errors(form) }}
		<div>
		    {{ form_label(form.Titre,'Titre du CV') }}
		    {{ form_errors(form.Titre) }}
		    {{ form_widget(form.Titre) }}
		</div>

		<div>
		    {{ form_label(form.Photo,'Photo de profil') }}
		    {{ form_errors(form.Photo) }}
		    {{ form_widget(form.Photo) }}
		</div>

{{ form_rest(form) }}
    
            <input class="btn btn-primary" type="submit" value="Ajouter">
            <input class="btn btn-danger" type="button" value="Effacer">
    </form>
</div>

{% endblock %}